#logo {
  float: left;
  height: 120px;
  width: 130px;
  border: 2px solid #030303;
}

img {
 padding: 10px;
}


#nav {
    height:auto;
    width: 100%;
    position: center;
  }
  
  ul {
    background: rgb(241, 212, 81);
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
    box-shadow: 5px 5px 5px black;
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    color: rgb(26, 26, 26);
  }