@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

body {
  
  font-family: 'Cinzel Decorative', cursive;

}

#logo {
float: left;
height: 10%;
width: 10%;


  
}

img {
  background-color: #e3caa5;
  padding: 11px
}


#nav {

  height:auto;
  width: 100%;
  position: center;
  }
  
  ul {
    background-color: #e3caa5;
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
   
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    color: black
  }